.sebze,
.meyve {
    background-color: Whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

#domates {
    color: Tomato;
    border: 2px solid Tomato;
}

#biber {
    color: Green;
    border: 2px solid Green;
}

#patlican {
    color: Purple;
    border: 2px solid Purple;
    ... padding: 25px;
}

body {
    background: wheat;
}

#sebzeler,
#meyveler {
    display: inline-block;
}

#muz {
    display: none;
}